# Dependencies
node_modules
.pnpm-store

# Build
dist
dist-zip
.turbo
.output
.nuxt
.nitro
.cache
.temp

# Editor
.idea

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Cache
.cache
.temp

# Testing
coverage
.coverage

# Env
.env
.env.*
!.env.example

# 压缩文件
*.zip
*.7z
*.rar

output
