# Registry 配置
# registry=https://registry.npmmirror.com/
# 依赖提升配置
shamefully-hoist=true
# 依赖检查配置
strict-peer-dependencies=false
# 包管理器限制
engine-strict=true
use-pnpm=true
# 依赖提升配置
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=@vue*
public-hoist-pattern[]=vue*
