@import url('./theme-transition.css');
@import url('./app-transition.css');
@import url('./ep.css');
:root {
  --header-height: 50px;
  --sidebar-width: 224px;
  --sidebar-width-collapsed: 63px;

  --tag-view-height: 38px;

  --splitpanes-default-bg: light-dark(#fff, #141414);
  --splitpanes-default-border-color: light-dark(#eee, #2D2F32);
}

html {
  overflow: hidden;
  color-scheme: light dark;

  &.dark {
    color-scheme: dark;
  }

  &.light {
    color-scheme: light;
  }
}

body,
#app {
  height: 100vh;
}

.error-icon-svg {
  --success: light-dark(hsl(144 57% 58%), hsl(144 57% 58%));
  --primary: light-dark(hsl(212 100% 45%), hsl(212 100% 45%));
  --destructive: light-dark(hsl(348 100% 61%), hsl(348 100% 61%));
  --warning: light-dark(hsl(42 84% 61%), hsl(42 84% 61%));
  --foreground: light-dark(hsl(210 6% 21%), hsl(0 0% 95%));
  
  --radius: 0.5rem;
}


/* 分割面板样式 */
.splitpanes.default-theme {
  .splitpanes__pane {
    background-color: var(--splitpanes-default-bg) !important;
  }
  .splitpanes__splitter {
    background-color: var(--splitpanes-default-bg) !important;
    border-left-color: var(--splitpanes-default-border-color) !important;
    &:after,
    &:before {
      background-color: var(--splitpanes-default-border-color) !important;
    }
  }
}

button {
  cursor: pointer;
}
