@import url('./theme-transition.css');
@import url('./app-transition.css');

:root {
  --header-height: 50px;
  --sidebar-width: 224px;
  --sidebar-width-collapsed: 50px;
}

html {
  color-scheme: light dark;

  &.dark {
    color-scheme: dark;
  }

  &.light {
    color-scheme: light;
  }
}

body {
  min-height: 100vh;
}

.error-icon-svg {
  --success: 144 57% 58%;
  --primary: 212 100% 45%;
  --destructive: 348 100% 61%;
  --warning: 42 84% 61%;
  --radius: 0.5rem;
  
  --foreground: 210 6% 21%;

  .dark & {
    
    --success: 144 57% 58%;
    --primary: 212 100% 45%;
    --destructive: 348 100% 61%;
    --warning: 42 84% 61%;
    --foreground: 0 0% 95%;
  }
}
