@import url('./theme-transition.css');
@import url('./app-transition.css');

:root {
  --header-height: 50px;
  --sidebar-width: 224px;
  --sidebar-width-collapsed: 50px;

  --tag-view-height: 38px;


  --app-main-bg: var(--geekblue-10);

  --app-bg-color:#fff;

  /* 分割面板 */
  --splitpanes-default-color: var(--app-bg-color);
}

html.dark {
  --app-bg-color:#1b1b1f;
  --app-main-bg: #1a2a4d;

}

html {
  overflow: hidden;

}

body,
#app {
  height: 100vh;
}

.error-icon-svg {
  --success: 144 57% 58%;
  --primary: 212 100% 45%;
  --destructive: 348 100% 61%;
  --warning: 42 84% 61%;
  --radius: 0.5rem;
  
  --foreground: 210 6% 21%;

  .dark & {
    
    --success: 144 57% 58%;
    --primary: 212 100% 45%;
    --destructive: 348 100% 61%;
    --warning: 42 84% 61%;
    --foreground: 0 0% 95%;
  }
}


/* 分割面板样式 */
.splitpanes.default-theme {
  .splitpanes__pane.splitpanes__pane {
    background-color: var(--splitpanes-default-color) ;
  }

  .dark & .splitpanes__splitter {
    --at-apply: bg-gray-400 border-gray-400;
  }
}
